X total count: {{xtotalcount}}
<mat-sidenav-container>
  <mat-sidenav-content>
    <a *ngFor="let mushroom of mushrooms$|async" (click)="onMushroom(mushroom.id)">
      {{ mushroom.taxonomy!.species }}
    </a>
    <div class="paginator">
      <button #prev [disabled]="isPrevDisabled" (click)="onPrevPage()">prev</button>
      page: {{pageIndex}} page size: {{pageSize}}
      <button #next [disabled]="isNextDisabled" (click)="onNextPage()">next</button>
      </div>
    <button  (click)="toNewMushroom()">Define mushroom</button>
  </mat-sidenav-content>
</mat-sidenav-container>
