
<!-- <table mat-table [dataSource]="mushrooms">
<ng-container matColumnDef="species">
  <th mat-header-cell *matHeaderCellDef> Species </th>
  <td mat-cell *matCellDef="let mushroom">{{ mushroom.species }}</td>
</ng-container>
</table> -->

<mat-sidenav-container>
  <mat-sidenav-content>
    <a *ngFor="let mushroom of mushrooms" (click)="onMushroom(mushroom.id!)">
      {{ mushroom.taxonomy!.species }}
    </a>

    <button (click)="toCreateMushroom()">Define mushroom</button>
  </mat-sidenav-content>
</mat-sidenav-container>
