.flex-container{
    display: flex;
    flex-flow: column wrap;
}

.flex-micro-features{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.flex-morphology{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-features{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-taxonomy{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}