<h2>{{ mushroom?.taxonomy?.species }}</h2>
<h3>Taxonomy</h3>
<div class="flex-container">
  <form [formGroup]="mushroomForm" (submit)=" onSave()" (submit)="onDelete()">
    <button type="submit" >Save</button>
    <button type="submit">Delete</button>
  <div formGroupName="taxonomy" class="flex-taxonomy" >
    <mat-form-field>
      <mat-label>Species: </mat-label>
      <input type="text" matInput formControlName="species"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>AA: </mat-label>
      <input type="text" matInput formControlName="AA"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gender: </mat-label>
      <input type="text" matInput formControlName="gender"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Family: </mat-label>
      <input type="text" matInput formControlName="family"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Order: </mat-label>
      <input type="text" matInput formControlName="order"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Synonymous: </mat-label>
      <input type="text" matInput formControlName="synonymous"/>
    </mat-form-field>

  </div>

  <h3>Morphology</h3>
  <div formGroupName="morphology" class="flex-morphology">
    <mat-form-field>
      <mat-label>Cap: </mat-label>
      <textarea matInput formControlName="cap"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gills: </mat-label>
      <textarea matInput formControlName="gills"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stalk: </mat-label>
      <textarea matInput formControlName="stalk"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Flesh: </mat-label>
      <textarea matInput formControlName="flesh"></textarea>
    </mat-form-field>
  </div>

  <h3>Features</h3>
  <div formGroupName="features" class="flex-features">
    <mat-form-field>
      <mat-label>Habitat: </mat-label>
      <textarea matInput formControlName="habitat"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Edibility: </mat-label>
      <textarea matInput formControlName="edibility"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Note: </mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>
  </div>

  <h3>Microscopic features</h3>
  <div formGroupName="microscopicFeatures" class="flex-micro-features">
    <mat-form-field>
      <mat-label>Spores: </mat-label>
      <textarea matInput formControlName="spores"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pileipellis: </mat-label>
      <textarea matInput formControlName="pileipellis"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cystidia: </mat-label>
      <textarea matInput formControlName="cystidia"></textarea>
    </mat-form-field>
  </div>
</form>
</div>



