<div class="flex-container">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Mushroom </mat-panel-title>
      <mat-panel-description>
        Define the characteristics of the mushroom
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="mushroomForm" (submit)="onCreate()">
      <p *ngIf="!mushroom">
        NOTE: each new mushroom is added to the last page of the mushrooms list
      </p>
      <h1 style="text-align: center" *ngIf="mushroom">
        {{ mushroom.taxonomy.species }}
      </h1>
      <div class="buttons-flex-container">
        <button
          mat-stroked-button
          type="submit"
          [disabled]="!mushroomForm.valid || mushroom"
        >
          Save mushroom
        </button>
        <button
          mat-stroked-button
          *ngIf="mushroom"
          type="button"
          (click)="onUpdate()"
        >
          Save Changes
        </button>
        <button
          mat-stroked-button
          style="color: #c2185b"
          *ngIf="mushroom"
          type="button"
          (click)="onDelete()"
        >
          Delete Mushroom
        </button>
      </div>

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Taxonomy</mat-panel-title>
          <mat-panel-description
            >Nomenclature in fungal systematics</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div formGroupName="taxonomy" class="flex-taxonomy">
          <mat-form-field>
            <label #specieslabel for="species" className="">Species</label>
            <input
              id="species"
              type="text"
              matInput
              formControlName="species"
              (focus)="specieslabel.className = 'isFocused'"
              (blur)="specieslabel.className = ''"
              (click)="specieslabel.classList.toggle('isFocused')"
            />
          </mat-form-field>
          <mat-form-field>
            <label #aalabel for="AA" className="">A.A.</label>
            <input
              id="AA"
              type="text"
              matInput
              formControlName="AA"
              (focus)="aalabel.className = 'isFocused'"
              (blur)="aalabel.className = ''"
            />
          </mat-form-field>
          <mat-form-field>
            <label #genderlabel for="gender" className="">Gender</label>
            <input
              id="gender"
              type="text"
              matInput
              formControlName="gender"
              (focus)="genderlabel.className = 'isFocused'"
              (blur)="genderlabel.className = ''"
            />
          </mat-form-field>
          <mat-form-field>
            <label #familylabel for="family" className="">Family</label>
            <input
              id="family"
              type="text"
              matInput
              formControlName="family"
              (focus)="familylabel.className = 'isFocused'"
              (blur)="familylabel.className = ''"
            />
          </mat-form-field>
          <mat-form-field>
            <label #orderlabel for="order" className="">Order</label>
            <input
              id="order"
              type="text"
              matInput
              formControlName="order"
              (focus)="orderlabel.className = 'isFocused'"
              (blur)="orderlabel.className = ''"
            />
          </mat-form-field>
          <mat-form-field>
            <label #synonymouslabel for="synonymous" className=""
              >Synonymous</label
            >
            <input
              id="synonymous"
              type="text"
              matInput
              formControlName="synonymous"
              (focus)="synonymouslabel.className = 'isFocused'"
              (blur)="synonymouslabel.className = ''"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Morphology</mat-panel-title>
          <mat-panel-description
            >Defines the macroscopic characteristics</mat-panel-description
          >
        </mat-expansion-panel-header>
        <form formGroupName="morphology" class="flex-morphology">
          <mat-form-field>
            <label #caplabel for="cap" className="">Cap</label>
            <textarea
              id="cap"
              matInput
              cdkTextareaAutosize
              formControlName="cap"
              (focus)="caplabel.className = 'isFocused'"
              (blur)="caplabel.className = ''"
            ></textarea>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <label #gillslabel for="gills" className="">Gills</label>
            <textarea
              id="gills"
              matInput
              cdkTextareaAutosize
              formControlName="gills"
              (focus)="gillslabel.className = 'isFocused'"
              (blur)="gillslabel.className = ''"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <label #stalklabel for="stalk" className="">Stalk</label>
            <textarea
              id="stalk"
              matInput
              cdkTextareaAutosize
              formControlName="stalk"
              (focus)="stalklabel.className = 'isFocused'"
              (blur)="stalklabel.className = ''"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <label #fleshlabel className="" for="flesh">Flesh</label>
            <textarea
              id="flesh"
              matInput
              cdkTextareaAutosize
              formControlName="flesh"
              (focus)="fleshlabel.className = 'isFocused'"
              (blur)="fleshlabel.className = ''"
            ></textarea>
          </mat-form-field>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Features</mat-panel-title>
          <mat-panel-description
            >Environment where the species lives, edibility and
            note</mat-panel-description
          >
        </mat-expansion-panel-header>
        <form formGroupName="features" class="flex-features">
          <mat-form-field>
            <label #habitatlabel for="habitat" className="">Habitat</label>

            <textarea
              id="habitat"
              matInput
              cdkTextareaAutosize
              formControlName="habitat"
              (focus)="habitatlabel.className = 'isFocused'"
              (blur)="habitatlabel.className = ''"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <label #edibilitylabel for="edibility" class="">Edibility</label>
            <textarea
              id="edibility"
              matInput
              cdkTextareaAutosize
              formControlName="edibility"
              (focus)="edibilitylabel.className = 'isFocused'"
              (blur)="edibilitylabel.className = ''"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <label #notelabel for="note" className="">Note</label>
            <textarea
              id="note"
              matInput
              cdkTextareaAutosize
              formControlName="note"
              (focus)="notelabel.className = 'isFocused'"
              (blur)="notelabel.className = ''"
            ></textarea>
          </mat-form-field>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Microscopic features</mat-panel-title>
          <mat-panel-description
            >Defines the microscopic characteristics</mat-panel-description
          >
        </mat-expansion-panel-header>
        <form formGroupName="microscopicFeatures" class="flex-micro-features">
          <mat-form-field>
            <label #sporeslabel for="spores" className="">Spores</label>
            <textarea
              id="spores"
              matInput
              cdkTextareaAutosize
              formControlName="spores"
              (focus)="sporeslabel.className = 'isFocused'"
              (blur)="sporeslabel.className = ''"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <label #pileipellislabel for="pileipellis" className=""
              >Pileipellis</label
            >
            <textarea
              id="pileipellis"
              matInput
              cdkTextareaAutosize
              formControlName="pileipellis"
              (focus)="pileipellislabel.className = 'isFocused'"
              (blur)="pileipellislabel.className = ''"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <label #cystidialabel for="cystidia" className="">Cystidia</label>
            <textarea
              id="cystidia"
              matInput
              cdkTextareaAutosize
              formControlName="cystidia"
              (focus)="cystidialabel.className = 'isFocused'"
              (blur)="cystidialabel.className = ''"
            ></textarea>
          </mat-form-field>
        </form>
      </mat-expansion-panel>
    </form>
    <div class="ico-button-flex-container">
      <button mat-stroked-button *ngIf="mushroom" (click)="showIconography()">
        Show iconography
      </button>
    </div>
  </mat-expansion-panel>

  <app-mycology-form-iconography
    *ngIf="!mushroom"
    [isCreateMode]="isCreateMode"
    (oncreate)="onCreate()"
  ></app-mycology-form-iconography>
</div>
