<div class="container">
  <h2>Iconography gallery</h2>
  <form [formGroup]="formIconographyData" (ngSubmit)="onSubmit()">
    <div>
      <input hidden #inputfile type="file" multiple (change)="handleFiles()" />
      <button mat-stroked-button (click)="inputfile.click()">
        Choose image File/s
      </button>
      <button mat-stroked-button type="submit" *ngIf="iconographydata.id && iconographydata.mushroomID">
        Save gallery changes
      </button>
      <button mat-stroked-button type="button" *ngIf="!iconographydata.id && !iconographydata.mushroomID" (click)="onCreate()">Save mushroom</button>
    </div>

    <div
      formArrayName="iconographyarrayform"
      class="iconography-flex-container"
    >
      <div
        *ngFor="let iconography of iconographyarrayform.controls; let i = index"
      >
        <div
          *ngFor="
            let iconography of iconographydata.iconographyarray.slice(i, i + 1)
          "
        >
          <mat-card class="iconography-card">
            <mat-card-header>
              <mat-card-subtitle>Image N°{{ i + 1 }}</mat-card-subtitle>
            </mat-card-header>

            <img
              id="{{ i }}"
              #img
              mat-card-image
              [src]="iconography.imageURL"
              alt=""
              class=""
              (click)="img.classList.toggle('fullsize-img')"
            />

            <mat-card-content>
              <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea
                  cdkTextareaAutosize
                  matInput
                  [formControlName]="i"
                ></textarea>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button (click)="removeControl(i , iconography.id)">
                remove
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- 
<ng-template #elseBlock>
  <div class="iconography-flex-container">
    <div
      *ngFor="
        let iconography of defineiconography.iconographyarray;
        let i = index
      "
    >
      <mat-card class="iconography-card">
        <mat-card-header>
          <mat-card-subtitle>Image N°{{ i + 1 }}</mat-card-subtitle>
        </mat-card-header>
        <img
          #img
          [src]="iconography.imageURL"
          alt=""
          class=""
          (click)="img.classList.toggle('fullsize-img')"
        />
        <mat-card-content>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea
              cdkTextareaAutosize
              matInput
              [(ngModel)]="iconography.description"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="container-inputfile-button" *ngIf="isCreateMode">
    <p>Define Iconography gallery</p>
    <input hidden #inputfile type="file" multiple (change)="handleFiles()" />
    <button mat-stroked-button (click)="inputfile.click()">
      Choose image File/s
    </button>
    <button
      mat-stroked-button
      *ngIf="defineiconography.iconographyarray.length !== 0"
      (click)="onCreate()"
    >
      Save mushroom
    </button>
  </div>
</ng-template> -->
